<body class="p-5 w-[100%]">

  <div class="flex w-[100%] justify-center gap-[120px] items-start">
    <div class="flex gap-3">
    <img src="Logo.jpg" alt="" class="h-[55px] w-[55px]" />
    <h1 class="text-[40px] font-bold text-[#0D1C4C]">Parking.</h1>
  </div>
    <div class="flex flex-col justify-center gap-2">
      <h2 class="font-semibold text-[25px] mb-2">Contact Us</h2>
      <p class="text-[17px]"><i class="fa-solid fa-phone-volume mr-2"></i>+91 98765 43210</p>
      <p class="text-[17px]"><i class="fa-solid fa-envelope mr-2"></i>bgparking@gmail.com</p>
      <p class="text-[17px]"><i class="fa-brands fa-instagram mr-2"></i>bangaloreparking</p>
      <p class="text-[17px]"><i class="fa-brands fa-youtube mr-2"></i>bgparkingchannel</p>
    </div>

    <div class="flex flex-col justify-center gap-2">
      <h2 class="font-semibold text-[25px] mb-2">Pages</h2>
      <p class="text-[17px]">Home</p>
      <p class="text-[17px]">About</p>
      <p class="text-[17px]">Locations</p>
    </div>
    <div class="flex flex-col justify-center gap-2">
      <h2 class="font-semibold text-[25px] mb-2">Download from</h2>
      <img src="appstore.png" alt="" class="h-[40px] w-[180px] cursor-pointer" />
      <img src="playstore.jpg" alt="" class="h-[85px] w-[170px] cursor-pointer" />
    </div>
  </div>
</body>
