<body>
  <div class="relative mt-20 flex justify-between px-10 items-center p-10">
    <div class="flex flex-col justify-center">
      <p class="text-[40px] font-bold text-[#0D1C4C] w-[400px] leading-11">
        Welcom to Bangalore Parking! .
      </p>
      <p class="text-[#A0A0A0] font-semibold text-[17px] mt-2 w-[480px]">
        Bangalore's Largest Airport Parking and Largest Network. You Can Easily Allocate and Confirm
        your Slots.
      </p>
      <p class="text-[#A0A0A0] font-semibold text-[17px] mt-2 w-[480px]">
        Available Locations: Electronic City, INOX Mall, PVR Mall, Phoneix Mall, Whitefield,
        Hoodi...
      </p>
    </div>
    <img src="Start.jpg" alt="" class="h-[350px] w-[550px] rounded-[20px] shadow-2xl" />
  </div>

  <div class="flex justify-center gap-[80px] mx-15 px-10 items-center p-10">
    <div *ngIf="showAvailable" class="flex flex-col justify-center items-center">
      <h1 class="text-[25px] font-semibold text-[#0D1C4C] mt-5">{{ availablestatus }}</h1>
      <div
        *ngFor="let slot of bookinglist"
        class="flex flex-col bg-white justify-between gap-3 w-[270px] h-[380px] shadow-xl p-2 rounded-[20px]"
      >
        <img src="{{ slot.imagepath }}" alt="" class="h-[160px] rounded" />
        <hr class="h-px bg-gray-400 border-0" />

        <p
          [ngClass]="slot.numberofslots === 0 ? 'text-gray-500' : 'text-black'"
          class="font-bold text-[18px] w-[200px]"
        >
          {{ slot.city }}, Bangalore - 5600851.
        </p>
        <div class="flex justify-between text-gray-500 font-semibold">
          <p [ngClass]="slot.numberofslots === 0 ? 'text-red-500' : 'text-green-500'">
            {{ slot.numberofslots }} Slots
          </p>

          <p>{{ slot.rs | currency : 'INR' }} / Day</p>
        </div>
      </div>
    </div>
    <img
      *ngIf="!showAvailable"
      src="LoginImage.jpg"
      alt=""
      class="h-[350px] w-[350px] rounded-[20px]"
    />
    <div
      class="flex flex-col items-center shadow-2xl w-[500px] rounded-[20px] py-8 bg-white gap-[30px]"
    >
      <div class="flex flex-col justify-center items-center">
        <h1 class="text-[35px] font-bold text-[#0D1C4C]">Check Here</h1>
        <hr class="border-t-4 w-35 rounded border-[#0D1C4C]" />
      </div>

      <select
        id="city"
        [(ngModel)]="booking.city"
        class="w-[340px] p-3 cursor-pointer border rounded-[5px] text-gray-700"
      >
        <option value="" disabled selected>Select City</option>
        <option value="Whitefield">Whitefield</option>
        <option value="Electronic City">Electronic City</option>
        <option value="Indiranagar">Indiranagar</option>
        <option value="Lalbagh garden">Lalbagh garden</option>
        <option value="INOX Cinemas">INOX Cinemas</option>
        <option value="PVR VR">PVR VR</option>
        <option value="Jayanagar">Jayanagar</option>
        <option value="Phoenix">Phoenix</option>
      </select>
      <div class="flex gap-[50px]">
        <button
          (click)="checkAvailable()"
          class="bg-[#1A4C9B] font-semibold px-5 py-2 rounded-[10px] text-white w-[170px] cursor-pointer"
        >
          Check Available
        </button>
        <button
          (click)="clear()"
          class="bg-[#A0A0A0] font-semibold px-5 py-2 rounded-[10px] text-black w-[170px] cursor-pointer"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>

  <hr class="h-px bg-gray-400 border-0" />

  <div class="w-[100%]">
    <app-footer></app-footer>
  </div>
</body>
